<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]>
<html dir="{{ direction }}" lang="{{ lang }}" class="ie8"><![endif]-->
<!--[if IE 9 ]>
<html dir="{{ direction }}" lang="{{ lang }}" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="{{ direction }}" lang="{{ lang }}">
<!--<![endif]-->
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">    
   <title>Military Antique Store Eagles Victoria</title>
   <!--  <title>{{ title }}</title> -->
    <base href="{{ base }}"/>
    {% if description %}
        <meta name="description" content="{{ description }}" />{% endif %}
    {% if keywords %}
        <meta name="keywords" content="{{ keywords }}" />{% endif %}
    <!-- Load essential resources -->
    <script src="catalog/view/javascript/jquery/jquery-2.1.1.min.js"></script>
    <link href="catalog/view/javascript/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
    <script defer src="catalog/view/javascript/bootstrap/js/bootstrap.min.js"></script>
    <script defer src="catalog/view/theme/basel/js/slick.min.js"></script>
    <script defer src="catalog/view/theme/basel/js/basel_common.js?8"></script>
    <!-- Main stylesheet -->
    <link href="catalog/view/theme/basel/stylesheet/stylesheet.css?5" rel="stylesheet">
    <!-- Mandatory Theme Settings CSS -->
    <style id="basel-mandatory-css">{{ basel_mandatory_css }}</style>
    <!-- Plugin Stylesheet(s) -->
    {% for style in styles %}
        <link defer href="{{ style.href }}" rel="{{ style.rel }}" media="{{ style.media }}"/>
    {% endfor %}
    {% if direction == 'rtl' %}
        <link href="catalog/view/theme/basel/stylesheet/rtl.css" rel="stylesheet">
    {% endif %}
    <!-- Pluing scripts(s) -->
    {% for script in scripts %}
        <script defer src="{{ script }}"></script>
    {% endfor %}
    <!-- Page specific meta information -->
    {% for link in links %}
        {% if link.rel == 'image' %}
            <meta property="og:image" content="{{ link.href }}"/>
        {% else %}
            <link href="{{ link.href }}" rel="{{ link.rel }}"/>
        {% endif %}
    {% endfor %}
    <!-- Analytic tools -->
    {% for analytic in analytics %}
        {{ analytic }}
    {% endfor %}
    {% if basel_styles_status %}
        <!-- Custom Color Scheme -->
        <style id="basel-color-scheme">{{ basel_styles_cache }}
            ;</style>
    {% endif %}
    {% if basel_typo_status %}
        <!-- Custom Fonts -->
        <style id="basel-fonts">{{ basel_fonts_cache }}</style>
    {% endif %}
    {% if basel_custom_css_status %}
        <!-- Custom CSS -->
        <style id="basel-custom-css">
            {{ basel_custom_css }}
        </style>
    {% endif %}
    {% if basel_custom_js_status %}
        <!-- Custom Javascript -->
        <script>
            {{ basel_custom_js }}
        </script>
    {% endif %}

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter49961161 = new Ya.Metrika2({
                        id:49961161,
                        clickmap:true,
                        trackLinks:true,
                        accurateTrackBounce:true,
                        webvisor:true
                    });
                } catch(e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://mc.yandex.ru/metrika/tag.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks2");
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/49961161" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
    <!-- Global site tag (gtag.js) - Google Ads: 796342409 -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-796342409"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'AW-796342409');
    </script>
</head>
<body class="{{ class }}{{ basel_body_class }} {{ islog }}">
{% include 'basel/template/common/mobile-nav.twig' %}
<div class="outer-container main-wrapper">
    {% if notification_status %}
        <div class="top_notificaiton">
            <div class="container{% if top_promo_close %} has-close{% endif %} {{ top_promo_width }} {{ top_promo_align }}">
                <div class="table">
                    <div class="table-cell w100">
                        <div class="ellipsis-wrap">{{ top_promo_text }}</div>
                    </div>
                    {% if top_promo_close %}
                        <div class="table-cell text-right">
                            <a onClick="addCookie('basel_top_promo', 1, 30);$(this).closest('.top_notificaiton').slideUp();"
                               class="top_promo_close">&times;</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}
    {% include 'basel/template/common/headers/' ~ basel_header ~ '.twig' %}
    <!-- breadcrumb -->
    <div class="breadcrumb-holder">
        <div class="container">

            <div class="links-holder">
                <a class="basel-back-btn" onClick="history.go(-1); return false;">{{ text_back }}&nbsp;/</a><span></span>
            </div>
            <span id="title-holder">&nbsp;</span>
        </div>
    </div>
    <div class="container">
        {{ position_top }}
    </div></div>