{{ '<?xml version="1.0" encoding="UTF-8"?>' ~ "\n" }}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<!--<meta http-equiv="refresh" content="5;url={{ continue }}">-->
<title>{{ text_title }}</title>
</head>
<body>
<div style="text-align: center;">
  <h1>{{ text_title }}</h1>
  <div style="border: 1px solid #DDDDDD; margin-bottom: 20px; width: 400px; margin-left: auto; margin-right: auto;">

  </div>
  <p>{{ text_message }}</p>
</div>
</body>
</html>